@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic'
@import './sanitize'

$mainColor = #007CD1
$textColor = #50616c
$headColor = #1f2930
$codeColor = #507E9E
$codeBackgroundColor = #ebf3f9
$backgroundColor = #f7f8f9

*
  word-break break-all
  word-wrap break-word

html,
body
  width 100%
  margin 0
  background #fff
  color $textColor
  font-size 16px
  font-family 'Open Sans', 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;

a
  color $mainColor
  &:hover
    text-decoration underline

#container
  width 1088px
  margin 0 auto

#blog-title
  width 100%

#content
  width 100%
  padding 0 32px
  font-size 0px
  #wrapper
    display inline-block
    width 640px
    vertical-align top
    #main
      display block
      font-size 16px
  #box2
    display inline-block
    width 320px
    margin-left 64px
    vertical-align top
    #box2-inner
      display block
      font-size 16px

@import './entry'
@import './sidebar'
