@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic'
@import './sanitize'

$mainColor = #007CD1
$textColor = #50616c
$headColor = #1f2930
$codeColor = #507E9E
// $tagBackgroundColor = #efefef
$codeBackgroundColor = #ebf3f9
$backgroundColor = #f7f8f9

*
  word-break break-all
  word-wrap break-word

html,
body
  width 100%
  min-height 100%
  margin 0
  background #fff
  color $textColor
  font-size 16px
  font-family 'Open Sans', 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;

// h1,
// h2,
// h3,
// h4,
// h5,
// h6
//   font-weight 400

a
  color $mainColor
  &:hover
    text-decoration underline

#container
  width 100%
  min-height 100%
  #container-inner
    width 100%
    min-height 100%

#blog-title
  width 100%

#content
  width 1088px
  margin 0 auto
  padding 0 32px
  font-size 0px
  #wrapper
    display inline-block
    width 640px
    vertical-align top
    #main
      display block
      font-size 16px
  #box2
    display inline-block
    width 320px
    margin-left 64px
    vertical-align top
    #box2-inner
      display block
      font-size 16px

#top-box,
.search-result
  display none

@import './globalheader'
@import './header'
@import './entry'
@import './sidebar'
