@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic';
/* sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
pre,
textarea {
  overflow: auto;
}
:root,
[aria-disabled] {
  cursor: default;
}
[hidden],
audio:not([controls]),
template {
  display: none;
}
button {
  overflow: visible;
}
details,
main,
summary {
  display: block;
}
input[type=number] {
  width: auto;
}
input[type=search] {
  -webkit-appearance: textfield;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
progress {
  display: inline-block;
}
small {
  font-size: 75%;
}
textarea {
  resize: vertical;
}
*,
::after,
::before {
  box-sizing: inherit;
  border-style: solid;
  border-width: 0;
}
* {
  background-color: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
::after,
::before {
  text-decoration: inherit;
  vertical-align: inherit;
}
:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: 1pc/1.5 sans-serif;
  text-rendering: optimizeLegibility;
}
html {
  background-color: #fff;
  color: #000;
}
a {
  text-decoration: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}
[type=number],
[type=search],
[type=submit],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
[type=button],
[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=password],
[type=reset],
button,
select,
textarea {
  min-height: 1.5em;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}
nav ol,
nav ul {
  list-style: none;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
select::-ms-value {
  color: currentColor;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
::selection {
  background-color: #b3d4fc;
  text-shadow: none;
}
[aria-busy=true] {
  cursor: progress;
}
[aria-controls] {
  cursor: pointer;
}
[hidden][aria-hidden=false] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute;
}
[hidden][aria-hidden=false]:focus {
  clip: auto;
}
* {
  word-break: break-all;
  word-wrap: break-word;
}
html,
body {
  width: 100%;
  margin: 0;
  background: #fff;
  color: #50616c;
  font-size: 16px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
}
a {
  color: #007cd1;
}
a:hover {
  text-decoration: underline;
}
#container {
  width: 1088px;
  margin: 0 auto;
}
#blog-title {
  width: 100%;
}
#content {
  width: 100%;
  padding: 0 32px;
  font-size: 0px;
}
#content #wrapper {
  display: inline-block;
  width: 640px;
  vertical-align: top;
}
#content #wrapper #main {
  display: block;
  font-size: 16px;
}
#content #box2 {
  display: inline-block;
  width: 320px;
  margin-left: 64px;
  vertical-align: top;
}
#content #box2 #box2-inner {
  display: block;
  font-size: 16px;
}
#main .entry {
  width: 100%;
  margin-bottom: 64px;
}
#main .entry .entry-header {
  position: relative;
  margin-bottom: 16px;
}
#main .entry .entry-header .entry-date {
  display: none;
}
#main .entry .entry-header .entry-title {
  margin-bottom: 16px;
}
#main .entry .entry-header .entry-title a {
  color: #1f2930;
  font-size: 200%;
}
#main .entry .entry-header .entry-categories a {
  color: #7f7f7f;
}
#main .entry .entry-header .entry-categories a:before {
  content: '#';
}
#main .entry .entry-header .entry-header-menu {
  position: absolute;
  visibility: hidden;
}
#main .entry .entry-content {
  line-height: 1.75;
}
#main .entry .entry-content * {
  max-width: 100%;
  height: auto;
}
#main .entry .entry-content h1,
#main .entry .entry-content h2,
#main .entry .entry-content h3,
#main .entry .entry-content h4,
#main .entry .entry-content h5,
#main .entry .entry-content h6,
#main .entry .entry-content ul,
#main .entry .entry-content ol,
#main .entry .entry-content p {
  margin: 1rem auto;
}
#main .entry .entry-content pre,
#main .entry .entry-content blockquote,
#main .entry .entry-content iframe {
  margin: 1.5rem auto;
}
#main .entry .entry-content p img {
  margin: 0.5rem auto;
  vertical-align: bottom;
}
#main .entry .entry-content h1,
#main .entry .entry-content h2,
#main .entry .entry-content h3,
#main .entry .entry-content h4,
#main .entry .entry-content h5,
#main .entry .entry-content h6 {
  color: #1f2930;
}
#main .entry .entry-content h1 {
  font-size: 200%;
}
#main .entry .entry-content h2 {
  font-size: 175%;
}
#main .entry .entry-content h3 {
  font-size: 150%;
}
#main .entry .entry-content h4 {
  font-size: 125%;
}
#main .entry .entry-content h5,
#main .entry .entry-content h6 {
  font-size: 100%;
}
#main .entry .entry-content ul,
#main .entry .entry-content ol {
  display: block;
  padding-left: 2rem;
}
#main .entry .entry-content ul ul,
#main .entry .entry-content ol ul,
#main .entry .entry-content ul ol,
#main .entry .entry-content ol ol {
  margin: auto;
}
#main .entry .entry-content li {
  margin: 0.5rem 0;
}
#main .entry .entry-content code {
  display: inline-block;
  padding: 0 8px;
  border: none;
  border-radius: 3px;
  background: #ebf3f9;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 87.5%;
}
#main .entry .entry-content blockquote {
  padding: 1rem;
  background-color: #ebf3f9;
  font-style: italic;
}
#main .entry .entry-content blockquote *:first-child {
  margin-top: auto;
}
#main .entry .entry-content blockquote *:last-child {
  margin-bottom: auto;
}
#main .entry .entry-content .code {
  line-height: 1.5;
  padding: 16px;
  border-radius: 3px;
  background: #ebf3f9;
  font-size: 87.5%;
}
#main .entry .entry-content .hatena-asin-detail {
  padding: 16px;
  border: none;
  border-radius: 3px;
  background: #ebf3f9;
}
#main .entry .entry-content .hatena-asin-detail .hatena-asin-detail-title {
  margin: 0 auto 8px;
  font-size: 125%;
}
#main .entry .entry-content .hatena-asin-detail ul {
  margin: 0 auto;
}
#main .entry .entry-content .hatena-asin-detail ul li {
  margin: 0 auto;
}
#main .entry .entry-content .entry-see-more {
  display: inline-block;
  margin-top: 16px;
}
#main .entry .entry-content .entry-see-more:after {
  content: ' »';
}
#main .entry .entry-footer {
  display: none;
}
#box2-inner .hatena-module {
  width: 100%;
  margin-bottom: 64px;
}
#box2-inner .hatena-module .hatena-module-title {
  margin-bottom: 16px;
  color: #1f1f1f;
  font-size: 125%;
}
#box2-inner .hatena-module.hatena-module-profile .hatena-module-body .profile-description {
  margin: 16px auto;
}
#box2-inner .hatena-module.hatena-module-entries-access-ranking ul li .entries-access-ranking-item-inner {
  position: relative;
  min-height: 64px;
  margin-bottom: 16px;
  padding-left: 72px;
}
#box2-inner .hatena-module.hatena-module-entries-access-ranking ul li .entries-access-ranking-item-inner .entries-access-ranking-image-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
}
#box2-inner .hatena-module.hatena-module-entries-access-ranking ul li .entries-access-ranking-item-inner .entries-access-ranking-date-link {
  display: none;
}
#box2-inner .hatena-module.hatena-module-entries-access-ranking ul li .entries-access-ranking-item-inner .entries-access-ranking-title {
  font-size: 100%;
}
