#main
  .entry
    width 100%
    margin-bottom 64px
    .entry-header
      position relative
      margin-bottom 16px
      .entry-date
        display none
      .entry-title
        margin-bottom 16px
        a
          color $headColor
          font-size 200%
      .entry-categories
        a
          color #7f7f7f
          &:before
            content: '#'
      .entry-header-menu
        position absolute
        visibility hidden
    .entry-content
      line-height 1.75
      *
        max-width 100%
        height auto
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      ul,
      ol,
      p
        margin 1rem auto
      pre,
      blockquote,
      iframe
        margin 1.5rem auto
      p
        img
          margin 0.5rem auto
          vertical-align bottom
      h1,
      h2,
      h3,
      h4,
      h5,
      h6
        color $headColor
      h1
        font-size 200%
      h2
        font-size 175%
      h3
        font-size 150%
      h4
        font-size 125%
      h5,
      h6
        font-size 100%
      ul,
      ol
        display block
        padding-left 2rem
        ul,
        ol
          margin auto
      li
        margin 0.5rem 0
      code
        display inline-block
        padding 0 8px
        border none
        border-radius 3px
        background $codeBackgroundColor
        font-family Consolas, Monaco, 'Andale Mono', monospace
        font-size 87.5%
      blockquote
        padding 1rem
        background-color $codeBackgroundColor
        font-style italic
        *:first-child
          margin-top auto
        *:last-child
          margin-bottom auto
      .code
        line-height 1.5
        padding 16px
        border-radius 3px
        background $codeBackgroundColor
        font-size 87.5%
      .hatena-asin-detail
        padding 16px
        border none
        border-radius 3px
        background $codeBackgroundColor
        .hatena-asin-detail-title
          margin 0 auto 8px
          font-size 125%
        ul
          margin 0 auto
          li
            margin 0 auto
      .entry-see-more
        display inline-block
        margin-top 16px
        &:after
          content ' »'
    .entry-footer
      display none
