#main
  .entry,
  .archive-entry
    width 100%
    margin-bottom 4rem
    .entry-header,
    .archive-entry-header
      position relative
      margin-bottom 1rem
      .entry-date,
      .date
        display none
      .entry-title
        margin-bottom 1rem
        a
          color $headColor
          font-size 2rem
      .entry-categories
        a
          color #7f7f7f
          &:before
            content: '#'
      .entry-header-menu
        position absolute
        visibility hidden
    .categories
      margin-bottom 1rem
      a
        color #7f7f7f
        &:before
          content: '#'
    .entry-thumb
      display none
      float none
    .entry-content,
    .archive-entry-body
      line-height 1.75
      *
        max-width 100%
        height auto
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      ul,
      ol,
      p
        margin 1rem auto
      pre,
      blockquote,
      iframe
        margin 1.5rem auto
      p
        img
          margin 0.5rem auto
          vertical-align bottom
      h1,
      h2,
      h3,
      h4,
      h5,
      h6
        color $headColor

      h1
        font-size 2rem
      h2
        font-size 1.75rem
      h3
        font-size 1.5rem
      h4
        font-size 1.25rem
      h5,
      h6
        font-size 1rem
      ul,
      ol
        display block
        padding-left 2rem
        ul,
        ol
          margin auto
      li
        margin 0.5rem 0
      code
        display inline-block
        padding 0 8px
        border none
        border-radius 3px
        background $codeBackgroundColor
        font-family Consolas, Monaco, 'Andale Mono', monospace
        font-size 87.5%
      blockquote
        padding 1rem
        background-color $codeBackgroundColor
        font-style italic
        *:first-child
          margin-top auto
        *:last-child
          margin-bottom auto
      .code
        line-height 1.5
        padding 1rem
        border-radius 3px
        background $codeBackgroundColor
        font-size 0.875rem
      .hatena-asin-detail
        padding 1rem
        border none
        border-radius 3px
        background $codeBackgroundColor
        .hatena-asin-detail-title
          margin 0 auto 8px
          font-size 125%
        ul
          margin 0 auto
          li
            margin 0 auto
      .entry-see-more
        display inline-block
        margin-top 1rem
        &:after
          content ' »'
    .entry-footer
      display none
    .highlight
      margin 0
      padding 0
      border none
