#box2-inner
  .hatena-module
    width 100%
    margin-bottom 64px
    .hatena-module-title
      margin-bottom 16px
      color #1f1f1f
      font-size 125%
    &.hatena-module-profile
      .hatena-module-body
        .profile-description
          margin 16px auto
    &.hatena-module-entries-access-ranking
      ul
        li
          .entries-access-ranking-item-inner
            position relative
            min-height 64px
            margin-bottom 16px
            padding-left 72px
            .entries-access-ranking-image-link
              display block
              position absolute
              top 0
              left 0
              width 64px
              height 64px
            .entries-access-ranking-date-link
              display none
            .entries-access-ranking-title
              font-size 100%
